img{
    width: 200px;
    height: 200px;
}
body{
    background-color: #C9EEFF;
}
.main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 1100px;
    margin: auto;
    align-items: center;
    background-color: #0B2447;
}
h1{
    color: whitesmoke;
    
}
.first_container{
    background-color: #A5D7E8;
    display: flex;
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    margin: 1% 0% 1%;
}
.second_container{
    background-color: #576CBC;
    display: flex;
    box-sizing: border-box;
    width: 800px;
    height: 350px;
    justify-content: space-around;
    padding: 0% 15%;
    align-items: center;
    margin: 1% 0% 1%;
}
.third_container{
    background-color: #19376D;
    display: flex;
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    margin: 1% 0% 1%;
}
.link:hover{
    color: tomato;
    cursor: pointer;
}
p,a{
    color: aliceblue;
}
.first_container:hover,.second_container:hover,.third_container:hover{
    border-radius: 5%;
    background-color:#CE5959 ;
    border: 5px goldenrod solid;

}